In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

from IPython.display import Image
from sklearn.externals.six import StringIO
import pydotplus

In [3]:
input_file = "PastHires.csv"
df = pd.read_csv(input_file, header = 0)

In [4]:
df.head()

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,Y,4,BS,N,N,Y
1,0,N,0,BS,Y,Y,Y
2,7,N,6,BS,N,N,N
3,2,Y,1,MS,Y,N,Y
4,20,N,2,PhD,Y,N,N

In [5]:
d = {'Y': 1, 'N': 0}
df['Hired'] = df['Hired'].map(d)
df['Employed?'] = df['Employed?'].map(d)
df['Top-tier school'] = df['Top-tier school'].map(d)
df['Interned'] = df['Interned'].map(d)
d = {'BS': 0, 'MS': 1, 'PhD': 2}
df['Level of Education'] = df['Level of Education'].map(d)

In [6]:
df.head()

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,1,4,0,0,0,1
1,0,0,0,0,1,1,1
2,7,0,6,0,0,0,0
3,2,1,1,1,1,0,1
4,20,0,2,2,1,0,0

In [7]:
features = list(df.columns[:6])

In [8]:
y = df["Hired"]

In [9]:
X = df[features]

In [10]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,y)

In [11]:
dot_data = StringIO()
tree.export_graphviz(clf,out_file = dot_data, feature_names = features)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())

In [12]:
print("Creating graph...")
graph.write_png('abc.png')

Creating graph...

True

In [13]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=10)
clf = clf.fit(X, y)

In [14]:
#Predict employment of an employed 10-year veteran
print (clf.predict([[10, 1, 4, 0, 0, 0]]))
#...and an unemployed 10-year veteran
print (clf.predict([[10, 0, 4, 0, 0, 0]]))

[1]
[1]

In [16]:
y_pred = clf.predict(X)

In [17]:
from sklearn.metrics import accuracy_score

In [18]:
accuracy_score(y, y_pred)

1.0

In [19]:
y_pred

array([1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1], dtype=int64)

In [22]:
y

0     1
1     1
2     0
3     1
4     0
5     1
6     1
7     1
8     1
9     0
10    0
11    1
12    1
Name: Hired, dtype: int64