In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df = pd.read_csv('ipl/deliveries.csv')

In [5]:
df.shape

(136598, 21)

In [6]:
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
3,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [11]:
six_df = df[df['total_runs'] == 6]

In [14]:
six_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
10,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,4,BB McCullum,SC Ganguly,Z Khan,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
20,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,2,BB McCullum,SC Ganguly,AA Noffke,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
25,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,7,BB McCullum,SC Ganguly,AA Noffke,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
60,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,10,5,BB McCullum,RT Ponting,SB Joshi,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
65,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,11,4,RT Ponting,BB McCullum,JH Kallis,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN

In [17]:
name = six_df['batsman'].mode()

In [18]:
name

0    CH Gayle
dtype: object

In [19]:
type(name)

pandas.core.series.Series

In [20]:
name[0]

'CH Gayle'

In [26]:
no_of_sixes = six_df[six_df['batsman'] == name[0]].shape[0]