In [17]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.svm import SVC
import pandas as pd
%matplotlib inline

In [18]:
dataset = pd.read_csv("Social_Network_Ads.csv")

In [19]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [20]:
X = dataset.iloc[:,2:4].values
y = dataset.iloc[:,-1].values

In [22]:
X[0]

array([   19, 19000], dtype=int64)

In [23]:
from sklearn.preprocessing import StandardScaler

scale = StandardScaler()
X[:,0:2] = scale.fit_transform(X[:,0:2])

C:\Users\asus\Anaconda3\lib\site-packages\sklearn\utils\validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [24]:
X[0:10]

array([[-1, -1],
       [ 0, -1],
       [-1,  0],
       [-1,  0],
       [-1,  0],
       [-1,  0],
       [-1,  0],
       [ 0,  2],
       [-1, -1],
       [ 0,  0]], dtype=int64)

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 0.3)

In [28]:
clf = SVC(kernel='linear', random_state=0)
clf.fit(x_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=0, shrinking=True,
  tol=0.001, verbose=False)

In [29]:
y_pred = clf.predict(x_test)

In [30]:
from sklearn.metrics import accuracy_score

In [31]:
accuracy_score(y_test, y_pred)

0.8666666666666667

In [33]:
from matplotlib._cm_listed import ListedColormap

In [35]:
x_set, y_set = x_train, y_train
x2 = np.meshgrid(np.arange(x_set[:,0].min() - 1, x_set[:,0].max() + 1, step=0.01))
x3 = np.meshgrid(np.arange(x_set[:,1].min() - 1, x_set[:,1].max() + 1, step=0.01))

In [ ]:
# To Be Continued....