In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np

In [2]:
dataset = pd.read_csv('data/tv_show_viewers_datasest.csv')

In [3]:
dataset.head()

,Episode,Character1_appeared,Character2_appeared,Character3_appeared,Character4_appeared,Character5_appeared,Fight_scenes,Comedy_scences,Romance_scence,Viewers
0,Episode001,3,5,2,4,4,3,7,9,888983
1,Episode002,4,6,3,5,3,4,8,7,888737
2,Episode003,2,4,1,3,5,2,6,8,887743
3,Episode004,4,6,3,5,2,5,8,7,808437
4,Episode005,5,7,4,6,4,2,6,6,777626

In [4]:
X = dataset.iloc[:,1:-1]
y = dataset.iloc[:,-1]

In [6]:
X.ndim

2

In [7]:
reg = LinearRegression()
reg.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [8]:
reg.score(X,y)

0.76146239427050055

In [9]:
reg.predict([[3,5,2,4,4,3,7,9]])

array([ 968031.03977999])

In [10]:
y_pred = reg.predict(X)

In [12]:
from sklearn.metrics import mean_squared_error

In [13]:
import numpy as np
np.sqrt(mean_squared_error(y,y_pred))

73586.723299228834