In [1]:
import numpy as np
import pandas as pd

In [4]:
data = pd.DataFrame()

data['Gender'] = ['male','male','male','male','male','female','female','female','female','female']
data['Height'] = [6,5.8,5.9,6.1,5.6,5.5,5.8,5.9,5.2,5.7]
data['Weight'] = [85,78,79,90,70,58,55,54,59,60]
data['FootSize'] = [12,8,9,11,7,8,7,7,8,9]

In [5]:
data

   Gender  Height  Weight  FootSize
0    male     6.0      85        12
1    male     5.8      78         8
2    male     5.9      79         9
3    male     6.1      90        11
4    male     5.6      70         7
5  female     5.5      58         8
6  female     5.8      55         7
7  female     5.9      54         7
8  female     5.2      59         8
9  female     5.7      60         9

In [8]:
person = pd.DataFrame()

person['Height'] = [5.9]
person['Weight'] = [66]
person['FootSize'] = [8]

In [9]:
person

   Height  Weight  FootSize
0     5.9      66         8

In [15]:
# data['Gender'][data['Gender'] == 'male'].count()
no_of_male = data['Gender'][data['Gender'] == 'male'].count()

no_of_female = data['Gender'][data['Gender'] == 'female'].count()

total_obs = data['Gender'].count()

In [16]:
print("Male",no_of_male)
print("Female",no_of_female)
print("Total",total_obs)

Male 5
Female 5
Total 10

In [17]:
prob_male = no_of_male / total_obs
prob_female = no_of_female / total_obs

In [26]:
mean = data.groupby('Gender').mean()

In [27]:
mean

        Height  Weight  FootSize
Gender
female    5.62    57.2       7.8
male      5.88    80.4       9.4

In [24]:
variance = data.groupby('Gender').var()

In [25]:
variance

        Height  Weight  FootSize
Gender
female   0.077     6.7       0.7
male     0.037    57.3       4.3

In [29]:
mean['Height'][1]

5.8800000000000008

In [30]:
male_mean_height = mean['Height'][1]
male_mean_weight = mean['Weight'][1]
male_mean_fooSize = mean['FootSize'][1]

male_var_height = variance['Height'][1]
male_var_weight = variance['Weight'][1]
male_var_footSize = variance['FootSize'][1]

female_mean_height = mean['Height'][0]
female_mean_weight = mean['Weight'][0]
female_mean_fooSize = mean['FootSize'][0]

female_var_height = variance['Height'][0]
female_var_weight = variance['Weight'][0]
female_var_footSize = variance['FootSize'][0]

In [43]:
def p_x_given_y(mean,obs,variance):
    p = (1 / (np.sqrt(2 * np.pi * variance))) * np.exp(-((obs - mean)**2) / (2 * variance))
    
    return p

In [44]:
# prob_male * p_x_given_y(5.62,5.9,0.077) * p_x_given_y(5.62,66,0.077) * p_x_given_y(5.62,8,0.077)

In [45]:
prob_male * \
p_x_given_y(male_mean_height,person['Height'][0],male_var_height) * \
p_x_given_y(male_mean_weight,person['Weight'][0],male_var_weight) * \
p_x_given_y(male_mean_fooSize,person['FootSize'][0],male_var_footSize)

0.0013634481464596547

In [40]:
person['Height'][0]

5.9000000000000004

In [46]:
prob_female * \
p_x_given_y(female_mean_height,person['Height'][0],female_var_height) * \
p_x_given_y(female_mean_weight,person['Weight'][0],female_var_weight) * \
p_x_given_y(female_mean_fooSize,person['FootSize'][0],female_var_footSize)

9.5396281513737851e-05